footer {
  padding: 50px 0;
  background-image: url("../../assets/images/pattern-rings.svg"), linear-gradient(hsla(0, 0%, 14%, 1), hsla(0, 0%, 14%, 1));
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position:  top 480px left -220px ,center;
  text-align: center;

  .container{
    display: grid;
    justify-items: center;
    row-gap: 3rem;

    .row-border{
      border-top: 1px solid $text-secondary;
      width: 100%;
    }
  }

  .footer-intro,
  .footer-content {
    width: 343px;
  }
}

  .footer-title {
    @include heading-xl();
  }

  form {
    @include flex(column, stretch, center);
    margin-top: 3rem;
    z-index: 2;
  }

  ::placeholder {
    color: $text-secondary;
    text-transform: uppercase;
    opacity: .5;
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid $text-primary;
    margin-top: 2rem;
    padding-left: 1rem;
    height: 43px;
    color: $text-secondary;
    font-size: 16px;
    text-transform: uppercase;
  }

  input:last-of-type{
    height: 107px;
  }

  input:focus {
    outline: none;
    border-bottom: 1px solid $primary;
  }

  button {
    align-self: flex-end;
    margin-top: 2rem;
  }

  .errorMessage {
    color: #FF6F5B;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.167px;
    text-align: right;
    padding: .5rem 0;
  }

  .errorSign {
    width: 24px;
    height: 24px;
    display: none;
    text-align: right;
    margin-top: -2rem;
  }

  .errorSign.visible {
    display: block;
    align-self: flex-end;
  }

.invalidInput {
  border-bottom: 1px solid hsla(7, 100%, 68%, 1);
}