@import "mixins";

header {
  height: 620px;
  padding-bottom: 80px;
  @include flex(column, center, space-between)
}

nav {
  @include flex(column, center, center);
  row-gap: 1rem;
  margin-top: 20px;

}

.hero {
  text-align: center;

  h1 {
    @include heading-xl();
  }
  span {
    border-bottom: 4px solid $primary;
  }
}


