/*   TABLE OF CONTENT

    1. Typography
    2. Layout
    3. Components

*/
/* ----- TYPOGRAPHY ----- */
/* ----- LAYOUT ----- */
/* ----- COMPONENTS ----- */
@font-face {
  font-family: spaceGrotesk;
  src: url("../../assets/fonts/static/SpaceGrotesk-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: spaceGrotesk;
  src: url("../../assets/fonts/static/SpaceGrotesk-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/*   TABLE OF CONTENT

    1. Typography
    2. Layout
    3. Components

*/
/* ----- TYPOGRAPHY ----- */
/* ----- LAYOUT ----- */
/* ----- COMPONENTS ----- */
/*   TABLE OF CONTENT

    1. Typography
    2. Layout
    3. Components

*/
/* ----- TYPOGRAPHY ----- */
/* ----- LAYOUT ----- */
/* ----- COMPONENTS ----- */
header {
  height: 620px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  margin-top: 20px;
}

.hero {
  text-align: center;
}
.hero h1 {
  font-size: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem);
  letter-spacing: clamp(-0.1562rem, -0.0413rem - 0.1277vw, -0.0712rem);
}
.hero span {
  border-bottom: 4px solid hsl(153, 71%, 59%);
}

.languages {
  display: grid;
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 98%);
  padding: 25px 0;
  border-bottom: 1px solid hsl(0, 0%, 98%);
}

.language h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-bottom: 0;
}
.language p {
  margin-top: 0;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 0 0;
}
.section-header h2 {
  font-size: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem);
  letter-spacing: clamp(-0.1562rem, -0.0413rem - 0.1277vw, -0.0712rem);
}

.section-content {
  display: grid;
  justify-items: center;
}

.projects {
  position: relative;
}
.projects .project-rings {
  position: absolute;
  top: -65px;
  right: -350px;
}

picture img {
  width: 345px;
  height: 253px;
}

.project .project-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  text-transform: uppercase;
  margin-bottom: 12px;
}
.project .used-languages {
  margin-bottom: 12px;
}
.project .used-languages span {
  text-transform: uppercase;
  margin-right: 1rem;
}
.project .button-group {
  margin-bottom: 2rem;
}
.project .button-group button {
  font-size: 16px;
  padding-left: 0;
  margin-right: 1rem;
}

footer {
  padding: 50px 0;
  background-image: url("../../assets/images/pattern-rings.svg"), linear-gradient(hsl(0, 0%, 14%), hsl(0, 0%, 14%));
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: top 480px left -220px, center;
  text-align: center;
}
footer .container {
  display: grid;
  justify-items: center;
  row-gap: 3rem;
}
footer .container .row-border {
  border-top: 1px solid hsl(0, 0%, 98%);
  width: 100%;
}
footer .footer-intro,
footer .footer-content {
  width: 343px;
}

.footer-title {
  font-size: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem);
  letter-spacing: clamp(-0.1562rem, -0.0413rem - 0.1277vw, -0.0712rem);
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 3rem;
  z-index: 2;
}

::placeholder {
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
  opacity: 0.5;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  margin-top: 2rem;
  padding-left: 1rem;
  height: 43px;
  color: hsl(0, 0%, 98%);
  font-size: 16px;
  text-transform: uppercase;
}

input:last-of-type {
  height: 107px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid hsl(153, 71%, 59%);
}

button {
  align-self: flex-end;
  margin-top: 2rem;
}

.errorMessage {
  color: #FF6F5B;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.167px;
  text-align: right;
  padding: 0.5rem 0;
}

.errorSign {
  width: 24px;
  height: 24px;
  display: none;
  text-align: right;
  margin-top: -2rem;
}

.errorSign.visible {
  display: block;
  align-self: flex-end;
}

.invalidInput {
  border-bottom: 1px solid hsl(7, 100%, 68%);
}

/* TABLE OF CONTENT

    1. General (body and Images)
    2. Components

*/
/* ----- GENERAL ----- */
html {
  width: 100svw;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: spaceGrotesk, sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  position: relative;
  width: 100%;
}

.container {
  padding-inline: 1rem;
}

main {
  margin: 0 0 100px 0;
  padding: 0;
}

.circle,
.rings,
.profil-image {
  z-index: -2;
}

.profil-image {
  position: absolute;
  width: 174px;
  height: 383px;
  top: 0;
  right: 28%;
  overflow: visible;
  background-image: url("../../assets/images/image-profile-mobile.webp");
  background-size: cover;
  z-index: -1;
}

.circle {
  position: absolute;
  right: -65px;
  top: 250px;
}

.rings {
  position: absolute;
  left: -350px;
  top: 125px;
}

/* ----- COMPONENTS ----- */
button {
  border: none;
  border-bottom: 2px solid hsl(153, 71%, 59%);
  background: transparent;
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.286px;
}

button:hover {
  color: hsl(153, 71%, 59%);
}

.logo {
  font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.444px;
}

.social-icons svg {
  width: 200px;
  height: 50px;
  padding-right: clamp(0.9375rem, 0.6074rem + 1.4085vw, 1.875rem);
}
.social-icons path:hover {
  fill: hsl(153, 71%, 59%);
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 2rem;
  }
  header {
    align-items: stretch;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .profil-image {
    top: 0;
    right: 0;
    width: 322px;
    height: 600px;
    overflow: visible;
    background-image: url("../../assets/images/image-profile-tablet.webp");
    background-size: cover;
    z-index: -3;
  }
  .circle {
    top: 470px;
  }
  .hero {
    max-width: 500px;
    height: 445px;
    text-align: left;
  }
  .languages {
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    text-align: left;
  }
  .section-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  footer .footer-intro,
  footer .footer-content {
    width: 445px;
  }
  footer .footer-content {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container {
    padding-inline: 165px;
  }
  header {
    margin-bottom: 104px;
  }
  .profil-image {
    background-image: url("../../assets/images/image-profile-desktop.webp");
    width: 445px;
    height: 720px;
    right: 165px;
  }
  .circle {
    right: 550px;
    top: 524px;
  }
  .rings {
    left: -250px;
  }
  .hero {
    max-width: 706px;
  }
  .hero p {
    max-width: 445px;
    margin-bottom: 50px;
  }
  .languages {
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
    text-align: left;
  }
  picture img {
    width: 546px;
    height: 400px;
  }
  footer {
    background-position: top 280px left -220px, center;
  }
  footer .container {
    grid-template-columns: repeat(2, 445px);
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 3rem;
    text-align: left;
  }
  footer .container .logo {
    justify-self: flex-start;
  }
  footer .container .social-icons {
    justify-self: flex-end;
  }
  footer .container .social-icons img:last-of-type {
    padding-right: 0;
  }
  footer .container .row-border {
    grid-column: 1/span 2;
    border-top: 1px solid hsl(0, 0%, 98%);
    width: 100%;
  }
  .contact-form, input[id=name] {
    margin-top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
